* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: hsl(229, 57%, 11%);
  background-image: url("images/bg-desktop.png");
  background-position: bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

section {
  display: flex;
  gap: 20px;
}

.a {
  background-color: hsl(228, 56%, 26%);
  padding: 20px;
  padding-right: 100px;
  border-radius: 5px;
  border-top-right-radius: 70px;
}

.logo {
  width: 90px;
  margin-bottom: 15px;
}

.a .data {
  display: flex;
  gap: 5px;
  height: 25px;
  width: 25px;
}

.a .data img {
  padding: 7px;
  height: 25px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 5px;
}

.b {
  border-radius: 5px;
  padding: 30px;
  min-width: 350px;
  justify-self: start;
  align-self: end;
  color: hsl(229, 7%, 55%);
  font-size: 9px;
  background-color: hsl(228, 56%, 26%);
  position: relative;
}

.b span {
  color: hsl(243, 100%, 93%);
  font-weight: 700;
}

.b .left {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: -30px;
}

.m {
  color: hsl(243, 100%, 93%);
  font-weight: 700;
}

.min {
  position: absolute;
}

.max {
  position: absolute;
  right: 20px;
}

.b .left span {
  font-size: 30px;
  color: hsl(229, 57%, 11%);
}

input[type="range"] {
  -webkit-appearance: none;
  margin-top: 10px;
  width: 100%;
  height: 6px;
  background: hsl(229, 57%, 11%);
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 375px) {
  section {
    flex-direction: column;
  }

  .a {
    padding: 30px;
    padding-right: 100px;
  }

  .a .data img {
    height: 30px;
  }

  .b .left {
    left: 70px;
    top: 65px;
  }
}
